<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>QuintoServelet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>MeuOvo</servlet-name>
  <servlet-class>PrimeiraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>MeuOvo</servlet-name>
  <url-pattern>/servlet01</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>NossoOvo</servlet-name>
  <servlet-class>SegundoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>NossoOvo</servlet-name>
  <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
</web-app>